*

!.github/
!.github/**
!assets/
!assets/**
!.editorconfig
!.gitattributes
!.gitignore
!.gitmodules
!.justfile
!LICENSE
!README.md

!src/
!src/**

!*.md
!*.mdc
!*.svg
!*.png
!*.nix
!*.lock
!*.yaml
!*.yml
!*.json
!*.cjs
